
@font-face { font-family: 'Binggrae'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff'); font-weight: normal; font-style: normal; }

html, body, table, div, p {
font-family: 'Binggrae'; }

html, body{
 background-image: linear-gradient(#000000,#000428, #002e57);
 height: auto;
}
body{
  letter-spacing: -0.05em !important;
  background: transparent;
  background-image: url('https://dandegimon.github.io/ddugether/images/star1.png'), url('https://dandegimon.github.io/ddugether/images/star2.png'), url('https://dandegimon.github.io/ddugether/images/star3.png');
  animation: star 40s linear infinite;
}


header .row>div:nth-child(1)>a {
  display: block;
  height: 50px;
  background: url(https://dandegimon.github.io/ddugether/images/logo1.png) no-repeat;
  margin-top: 20px;
  margin-bottom: -2px;
}


/*기본 로고 숨김*/
header .row>div:nth-child(1)>a>img {
  display: block;
 
 filter: grayscale(100%);
  opacity: 0;
}

/* 로고밑 NAV bar */

header #header-bar>.row {
	background:linear-gradient(to bottom,#000,#000428);
	border-radius: 20px;
	border: none;
	box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 5px 1px;
}
/* 광고판 글자색 */
		header #header-bar a.dropdown-toggle,header #header-bar #header-top-notice a {
	color: #fff;
		}
		
/* 검색폼 보더 */

header #right-search-form>input[type='text'] {
  border: none;
  border-radius: 20px;
  box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 1px 1px;
}
header #right-search-form>#right-search-btn {
  color: #fff;
}


/* 트게더 전체메뉴 / 유용한링크 / 트위치 스케쥴 */

#main .menu-wrapper>.header {
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 10px 10px 0px 0px;
	background-image: linear-gradient(to left,#000,#000428), linear-gradient(to left, #000,#000428);
	background-origin: border-box;
	background-clip: content-box, border-box;
}
#main .menu-wrapper>a {
			background: transparent;
			border: none;
	color: #fff;
		}
		#main .menu-wrapper>a:hover {
			background: rgba(255, 255, 255, 0.3);
		}
#main .menu-wrapper a:nth-last-child(1) {
border-radius: 0px 0px 15px 15px;
}

#main .menu-wrapper .spacer{
  height: 0em;
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  color: rgba(255, 255, 255, 0.5);
}
#main .menu-wrapper>a>em {
  color: rgba(255, 255, 255, 0);
}
.fa-square:before {
  color: rgba(255, 255, 255, 0);
}

header #header-bar>.row,
#main .menu-wrapper {
  border-right: none;
  border-bottom: none;
}

#main #main-content>div.frame{
	border: 3px solid transparent;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0);
	background-origin: border-box;
	background-clip: content-box, border-box;
}

#main .menu-wrapper {
border-radius: 10px;
}

/*뚜띠프사동그라미*/
#board-info #board-info-profile-img{
    width: 6.5em;
    height: auto;
    background-color: transparent;
    float: left !important;
    border-radius: 50%;
    border: none;
    position: relative;
    top: -12px;
    left: -10px;
}
#board-info #board-info-profile-img:hover{
	-webkit-animation: slide-left 1s both;
	animation: slide-left 1s both;
}
#board-info{
height: 100px;
}
element.style {
}
header #header-bar #header-menu-left #favoriteDropdown {
    padding-left: 0.3em;
    padding-right: 0.5em;
}
#board-info h1{
			border: none;
		}
#board-info h1>a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    font-weight: bold;
}

.label-default{
background:#fff;
}
#article-reply-area #reply-real-area .reply, #article-reply-area #reply-best-area .reply{
border:none;
}
#article-reply-area #reply-real-area .reply > .reply-header, #article-reply-area #reply-best-area .reply>.reply-header {
    background: #f7f7f7;
    border: 2px solid #190907;
    padding: 0.4em 0.5em;
}

/* 스트리머 게시판 상단 정보 글씨색상 */

#board-info #board-info-bottom a {
  color: #fff;
}
		
/* 사람수 옆 이미지 색상 */
#board-info #viewers-area, #board-info #score-area {
color: rgba(255, 255, 255, 0.6);
font-weight: 700;
}
/* 사람 명수 앞에 그림*/
#board-info #viewers-area .fa-user:before{
	color: (255, 255, 255, 0.6);
	content: url('https://static-cdn.jtvnw.net/badges/v1/aaa6ea27-08a7-43da-8567-39a2ddef014f/1');
	position: relative;
	top: 5px;
}
#board-info #viewers-area #viewers:before {
content: "기웃기웃 "; /*오른쪽 상단 사이트 이용자 수 뒷부분*/
cursor: text;
}
#board-info #viewers-area #viewers:after {
    content: " 명의 모티들";
    cursor: text;
}

#article-list>.article-list-row>.item>.list-checkbox, #article-list>.article-list-row>.item>.list-header, #article-list>.article-list-row>.item>.list-category, #article-list>.article-list-row>.item>.list-title, #article-list>.article-list-row>.item>.list-blocked, #article-list>.article-list-row>.item>.list-time{
border-bottom:none;
}



/* 게시글 관련부분 */

#article-list>.article-list-row>.item>.list-title>.list-writer>span {
  width: 120px !important;
}

#article-list #article-list-category {
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	background: rgba(255, 255, 255, 0);
	background-origin: border-box;
	background-clip: content-box, border-box;
	margin-bottom: 10px;
}
#article-list>.article-list-row:hover {
			background: rgba(255, 255, 255, 0.3);
		}

/*카테고리 안 색상*/
#article-list #article-list-category>a {
  background: rgba(255, 255, 255, 0);
}
#article-list #article-list-category > a.active, #article-list #article-list-category>a:hover{
	border-radius: 10px 0 0 10px;
	background: rgba(255, 255, 255, 0);
		}
.fa-home{
	color: rgba(255, 255, 255, 0.8);
		}
		
/*게시글 테두리*/
#article-list>.article-list-row {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    margin: 4px 0;
}
		
/* 공지사항 동그라미 */
span.a-badge i.fa.fa-info-circle {
  color: #e71c23;
}

/*공지사항 배경색*/
#article-list>.article-list-row.notice{
    background-color: rgba(255,255,255,0.3);
    border-radius: 15px;
    border: 2px solid;
    margin-bottom: 5px;
    border-color:rgba(0,0,0,0);
}
/* 공지사항 아이콘*/
#article-list>.article-list-row.notice .fa-info-circle:before {
    content: url('https://dandegimon.github.io/silgerher/images/notice.gif');
}

/* 인기글 표시*/
span.a-badge i.fa.fa-star {
    color: rgba(0, 0, 0, 0);
    width: 16px;
    height: 16px;
    animation: doongdoong1 0.5s linear infinite alternate;
    background: url('https://dandegimon.github.io/ddugether/images/best.gif');
    background-repeat: no-repeat;
    position: relative;
    font-family: 'Nanum Gothic', sans-serif;
}
		
/* 인기글 배경색상 */
#article-list>.article-list-row.hot{
background-color: rgba(255,255,255,0.3);
}
#article-list>.article-list-row>.item>.list-header.v0>span{
background-color: transparent;
}
/*추천수*/
#article-list>.article-list-row>.item>.list-header>span {
    background-color: rgba(255,255,255,0);
    color: #fff;
    font-weight: bold;
    padding: 1px 5px;
    font-size: 11px;
    border-radius: 50%;
}
/* 게시글 색상 */
#article-list>.article-list-row>.item>.list-title>a{
			color: white; 
		}
#article-list>.article-list-row>.item>.list-title>a:visited{
			color: #ddd;
		}
/* 게시글 왼쪽 테두리 */
#article-list>.article-list-row>.item>.list-header {
 border-left: none;
}
/*댓글수*/
#article-list>.article-list-row>.item>.list-title>small.comment-count {
  color: #fff4cc;
}
/*글쓴이색*/
#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
  color: #fff4cc;
}
/*카테고리 옆 빈공간 색*/
#article-content-wrapper>.header {
  border-top: 2px solid #ffffff;
}
#article-info>h2 {
  font-weight: bold;
}

#article-info>h2>span.category {
  color: #e71c23 !important;
}

#article-reply-area>.header h5 {
  color: #e71c23;
}

#main .menu-wrapper>a {
  padding: 0.5em 1.4em 0.5em 0.7em !important;
}
	
		
/*선택된 페이지 색상*/
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: rgba(255,255,255,0.2);
  border-color: #fff;
  border-radius: 3px;
}

/* 게시글 페이지 숫자 테두리*/
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
}

/*선택되지 않은 페이지 색상*/
.pagination>li>a,
.pagination>li>span {
  color: rgba(255,255,255,0.5);
  background-color: rgba(255,255,255,0);
}
/*글쓰기 색상*/
.btn-primary {
  background: rgba(255,255,255,0) !important;
 border-color: #fff;
}
.fr-toolbar{
border-color:#fff; 
}
/*하단 둥글게*/
#article-list #article-list-menu>.btn.write,#article-list #article-list-menu>.btn.best,#article-list #article-list-menu>.btn.cog,#article-list #article-list-menu>.btn.del{
border-radius: 10px;
}
#article-list #article-option-area{
display:none;
}


		
/*글안*/
#article-content-wrapper>.header{
	background: linear-gradient(to top,#000,#000428);
	border: none;
	color: #fff;
	box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 5px 1px;
}
#article-content-wrapper #article-content,#article-content-wrapper>.vote-area{
	border: none;
}
#article-content-wrapper>.footer{
	background: linear-gradient(to top,#000,#000428);
	border: none;
	box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 5px 1px;
}
.btn-group-sm>.btn, .btn-sm{
	border-radius: 7px 0px;
	border-color: 1px #fff;
}
#article-info{
	color: #fff;
}
#article-reply-area > .header h5,#lastc{
	color: rgba(255,255,255,0.5);
}
#article-content-wrapper #article-content, #article-content-wrapper>.vote-area{
	background: rgba(255,255,255,0.9);
	box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 5px 1px;
}
.fr-toolbar{
	color: #fff;
	border-top: 5px solid #002e57;
}
#writeCommentBtn{
	background: rgba(255,255,255,0.2);
}
#writeCommentBtn:hover{
	background: rgba(255,255,255,0.8);
	border: 1px solid #cfb60c;
}
#article-neighbor-list,#article-neighbor-list>div>a{
	color: rgba(255,255,255,0.5);
}
#article-neighbor-list>div:hover{
	background-color: rgba(255,255,255,0.1);
}
#article-reply-area #reply-real-area .reply > .reply-header, #article-reply-area #reply-best-area .reply>.reply-header{
	background: linear-gradient(to top,#000,#000428);
	border: none;
}
#article-reply-area #reply-real-area .reply > .reply-content, #article-reply-area #reply-best-area .reply>.reply-content{
	background: rgba(255,255,255,0.6);
}
#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged, #article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged, .comment-vote-btn, .re-reply-btn, .middot, .time, .comment-report-btn{
	color: #fff;
}
#article-list>.article-list-row.active{
	background-color: rgba(255,255,255,0.5);
}
		



/*광고양옆 짝대기*/
header #header-bar #header-menu-left, header #header-bar #header-menu-right{border: 0px;}
/*광고뱃지*/
header #header-bar #header-top-notice strong.notice-badge{display:none;}


/*따띠좋아요표시*/
.fa-heart:before {
     content: url('https://dandegimon.github.io/ddugether/images/jaehyun.gif');
    position: relative;
    top: -2px;
    display: inline-block;
}

header #header-bar #header-menu-left #playgroundDropdown {
   padding-left: 0.3em;
    padding-right: 0.7em;
}


/*마우스 포인터*/
*{
cursor: url(https://dandegimon.github.io/ddugether/images/motimouse.png) 0 0, auto !important;
}
#aw0{
cursor: url(https://dandegimon.github.io/ddugether/images/motimouse.png) 0 0, auto !important;
}


/* 위로 */
#movetotop img {
    display:none
}
#movetotop {
    display: inline-block;
    opacity:1;
    background: url("https://dandegimon.github.io/ddugether/images/mdup.png");
    width: 80px;  
    height: 80px;
    background-size: contain;
}

/* 모든 항목 focus시 아웃라인 제거 */
*:focus { outline: none !important; }

/* footer */
footer, a{
	color: #000;
}
#article-list>.article-list-row {
  border-right: none;
}

#article-list #article-list-menu {
  box-sizing: border-box;
  width: unset;
  margin: 20px;
}

#article-list #boardSearchForm {
  padding-bottom: 20px;
  height: unset;
}

/*애니메이션*/
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}

@keyframes star{
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
50% {background-position: 500px 500px, 500px 500px, 500px 500px;}
100% {background-position: 1000px 1000px, 1000px 1000px, 1000px 1000px;}
}